@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-dark: #0e1c36;
  --secondary-color: #1e58c6;
  --secondary-dark: #f9fbf2;
  --text-soft: #777575;
  --bgSoft: #f0f0f0;
  --bgDark: #111528;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  display: flex;
  /* fl: column; */
  flex-direction: column;
  /* height: 100vh; */
  /* border: 1px solid red; */
  min-height: 100vh;
  background-color: black;
}
.container {
  max-width: 1366px;
  margin: auto;
  /* height: 100%; */
  /* background-color: #EBF2FA; */
  /* border-radius: .8rem; */
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.section-header h1 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
}
